{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1>Current TodoList:</h1>
  <p>{{ todolist.title }}</p>

  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-primary">Add a Task</button>
  </form>

  </div>
  <div class='list-group'>
		{% if tasks %}
			
			{% for task in tasks %}
				<span class='list-group-item'>
          <i class="fa fa-circle" aria-hidden="true"></i>
          <span>{{ task.description }}</span>
          <a href="{% url 'delete_task' slug=task.todolist.slug task_pk=task.id %}" class="btn btn-info btn-md float-right">
          <i class="fa fa-trash" aria-hidden="true"></i> </a>

        
        </span>
			{% endfor %}
		
		{% else %}
			<strong>No Task created yet<strong>

		{% endif %}

  </div>
  
{% endblock %}
