{% extends 'accounts/base_accounts.html' %}

{% block title %}Delete a task{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Are you sure you are done with </h3> 
          <div class="mx-auto my-5" style="width: 200px;"><em>{{ task.description }}</em></div>
         <form method="POST">
          {% csrf_token %}
          <input type="submit" value="Confirm Delete" class="btn btn-danger btn-large">
          <a href="{% url 'tasks' todolist_slug=task.todolist.slug %}" class="btn btn-simple btn-large btn-default">Cancel</a>
        </form> 
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
