{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1>Current TodoList:</h1>
  <p>{{ todolist.title }}</p>

  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-primary">Add a Task</button>
  </form>

  </div>
  <div class='list-group'>
		{% if tasks %}
			
			{% for task in tasks %}
				<span class='list-group-item'>
          <input class="form-check-input my-2 " type="checkbox" value="">
          <a href="#" class='my-2'>{{ task.description }}</a>
          <a href="#" class="btn btn-info btn-md float-right">
          <i class="fa fa-trash" aria-hidden="true"></i> Delete 
        </a>

        
        </span>
			{% endfor %}
		
		{% else %}
			<strong>No Task created yet<strong>

		{% endif %}

  </div>
  
{% endblock %}
